In [ ]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sb
from pylab import rcParams

import scipy
from scipy.stats import spearmanr
from scipy.stats import chi2_contingency

In [7]:
address = 'mtcars.csv'
cars = pd.read_csv(address)
cars.columns = ['car_names','mpg','cyl','disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb']
cars.head()

,car_names,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [8]:
table = pd.crosstab(cars['cyl'], cars['am'])
table

am    0  1
cyl
4     3  8
6     4  3
8    12  2

In [9]:
chi2_contingency(table.values)

(8.740732951259268, 0.012646605046107276, 2, array([[6.53125, 4.46875],
        [4.15625, 2.84375],
        [8.3125 , 5.6875 ]]))

In [10]:
table2 = pd.crosstab(cars['cyl'], cars['gear'])
table2

gear   3  4  5
cyl
4      1  8  2
6      2  4  1
8     12  0  2

In [11]:
chi2_contingency(table2.values)

(18.03636363636364,
 0.0012140660337851554,
 4,
 array([[5.15625, 4.125  , 1.71875],
        [3.28125, 2.625  , 1.09375],
        [6.5625 , 5.25   , 2.1875 ]]))

In [12]:
table3 = pd.crosstab(cars['cyl'], cars['vs'])
table3

vs    0   1
cyl
4     1  10
6     3   4
8    14   0

In [13]:
chi2_contingency(table3.values)

(21.339929911358485, 2.3232347637946903e-05, 2, array([[6.1875, 4.8125],
        [3.9375, 3.0625],
        [7.875 , 6.125 ]]))